@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P';
    user-select: none;
}

body {
    background-color: black;
    overflow: hidden;
}

#bird {
    width: 85px;
    height: 85px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 40vw;
    bottom: 60vh;
    transition: 60ms;
    transform: rotate(0deg);
}

#pipe1 {
    width: 100px;
    height: 100vh;
    background-color: rgb(161, 161, 161);
    position: absolute;
    left: 130vw;
    top: 0;

}

#pipe2 {
    width: 100px;
    height: 100vh;
    background-color: rgb(161, 161, 161);
    position: absolute;
    left: 130vw;
    bottom: 0;
}

#gameover {
    color: black;
    z-index: -10;
    font-size: 10vw;
    position: absolute;
    bottom: 50vh;
    left: 5vw;
}

#score {
    margin: 2%;
    left: 45%;
    position: absolute;
    color: rgb(223, 240, 255);
    font-size: 60px;
}